@model kahveDiyarı.Models.hakkimizda
@{
    ViewBag.Title = "Hakkımızda";
    Layout = "~/Areas/admin/Views/Shared/_LayoutAdmin.cshtml";
}

@if(TempData["hakkimdaGuncelle"] != null)
{
    <link href="~/Content/admin/plugins/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css" rel="stylesheet" />
    <script src="~/Content/admin/plugins/sweetalert2/sweetalert2.min.js"></script>

    <script>
        Swal.fire("Başarılı", "Güncelleme gerçekleşti", 'success');
    </script>
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Hakkımızda Sayfası</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Hakkımızda</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Bordered Table</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th> Foto </th>
                                        <th> Üst Başlık </th>
                                        <th> Başlık </th>
                                        <th> İçerik </th>
                                        <th> Güncelle </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><img src="~/Content/img/@Model.foto" width="150"/> </td>
                                        <td>@Model.ustbaslik </td>
                                        <td>@Model.baslik </td>
                                        <td>@Html.Raw(Model.icerik) </td>
                                        <td>
                                            @Html.ActionLink("Güncelle", "HakkimizdaGuncelle",null,new {@class="btn btn-info" })
                                        </td>
                                        
                                    </tr>
                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- /.col -->
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
