@model kahveDiyarı.Models.hakkimizda
@{
    ViewBag.Title = "Hakkımızda";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="page-section about-heading">
    <div class="container">
        <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="~/content/img/@Model.foto" alt="">
        <div class="about-heading-content">
            <div class="row">
                <div class="col-xl-9 col-lg-10 mx-auto">
                    <div class="bg-faded rounded p-5">
                        <h2 class="section-heading mb-4">
                            <span class="section-heading-upper">@Model.ustbaslik</span>
                            <span class="section-heading-lower">@Model.baslik</span>
                        </h2>
                        @Model.icerik
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

